/* START MEMOCATE CUSTOM STUFF */

@mixin quiet-button {
  background-color: #fff !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none;
  text-shadow: none !important;
  color: $black;
  letter-spacing: 0;
  vertical-align: middle;
  padding: 0;
  padding-left: 8px;
  font-size: 1.05em;
}
.memocate {
  &-login {
    &-form {
      border: none !important;
      &-field {
        margin: 0 !important;
      }
      &-toggle {
        @include quiet-button;
        @include lato-black-upper;
      }
    }
    &-header {
      @include lato-black-upper;
      font-size: 2.25em !important;
      text-align: center;
      margin: 40px 0 !important;
    }
    &-input {
      padding: 30px !important;
      margin: 0 !important;
      &-last {
        border-top: 0 !important;
      }
    }
    &-login-button {
      margin-top:0 !important;
      background-color: $memocate-color !important;
      text-transform:uppercase !important;
      box-shadow: none !important;
      text-shadow: none !important;
      width: 50%;
    }
    &-cancel-button {
      height: 100% !important;
      @include lato-black-upper;
      color: $black !important;
      border: none !important;
      background-color: transparent !important;
      background-image: none !important;
      &, &:hover, &:active, &:focus {
        box-shadow: none !important;
      }
    }

    &-action-buttons {
      display: flex;
      height: 69px;
      position: relative;
      top: -1px;
    }
    &-forgot-button {
      @include quiet-button;
      text-transform: none !important;
      margin-top: 8px !important;
      padding: 0 !important;
    }
    &-spacer {
      margin-top: 20px;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;

      & div {
        border: solid 1px $lightGrey;
        display: inline-block;
        width: 117px;
      }
    }
  }
}

.header-global {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
  border-bottom: none;
  & .wrapper-header, & nav {
    max-width: initial;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    & .nav-courseware {
      height: 100%;
      display: flex;
      & li {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        & a {
          padding: 10px 20px;
        }
      }
    }
  }
}

.logo {
  margin-left: 45px !important;
}

.flex-spacer {
  flex-grow: 1;
}

.register-button {
  @include lato-black-upper;
  font-size: 1.25em;
  & a {
    &, &:hover, &:active, &:focus {
      color: $black !important;
      text-decoration: none;
    }
  }
}

.login-button {
  background-color: $memocate-color;
  & a {
    &, &:hover, &:active, &:focus {
      background-color: $memocate-color !important;
      font-size: 1.25em;
      @include lato-black-upper;
      color: $white;
      text-decoration: none;
      box-shadow: none !important;
    }
  }
}



.home-page {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  &-half {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    top: -200px;
  }

  &-blurb {
    padding-top: 70px;
    padding-bottom: 100px;
    height: 400px;
    border-radius: 0 0 100% 100%;
    width: 150%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 60px;
    &.home-page-1 {
      background-color: #FFDCDA;
    }
    &.home-page-2 {
      background-color: #E4F7F1;
    }
    & h3 {
      margin-top: 0.25em;
      color: black;
      font-size: 2.5em !important;
      @include lato-black-upper;
      display: block;
    }
    & p {
      font-size: 1.25em;
    }
  }

  &-disclaimer {
    color: $base-font-color;
    margin-bottom: 25px;
  }

  &-action {
    background-color: $memocate-color;
    padding: 25px 90px;
    margin-bottom: 25px;
    @include lato-black-upper;
    &, &:hover, &:active, &:focus {
      text-decoration: none;
      color: $white !important;
    }
  }

  &-get-in-touch {
    @include lato-black-upper;
    text-decoration: none;
    &, &:hover, &:active, &:focus {
      text-decoration: none;
      color: $black;
    }
  }
}

.tabs.course-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-course-material .tabs.course-tabs li a {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
}
.wrapper-course-material .tabs.course-tabs li a.active {
  border-bottom: $memocate-color solid 3px;
  border-bottom-color: $memocate-color !important;
}

.course-material {
  position: relative;
}

.bookmarks-tab-item {
  position: absolute;
  right: 0;
}

body {
  background-color: #fff !important;
}
.container > div {
  border: none !important;
}

.course-wrapper .course-content .vert-mod .vert > .xblock-student_view {
  border-bottom: none !important;
}

.sequence {
  display: flex;
  flex-direction: column;
}

.sequence, .xblock-student_view, #main, #course-content, .course-wrapper {
  height: 100%;
}

.sequence-nav {
  background-color: #fff !important;
  position: -webkit-sticky !important;
  position: -ms-sticky;
  position: sticky !important;
  bottom: 0 !important;
}

.sequence-tooltip {
  top: -48px !important;
  &::after {
    top: 30px !important;
  }
}

.dropdown.user-dropdown {
  position: relative;
  top: -3px;
}

.course-header {
  position: relative;
  top: 5px;
}

.user {
  display: flex;
  align-items: center;
}

.wrapper-logo {
  margin-top: -8px !important;
  & img {
    height: 46px !important;
  }
}

/* END MEMOCATE CUSTOM STUFF */


// edX LMS - shame
// ====================
// NOTE: use for any bad-form/orphaned scss that knowingly violate edX FED architecture/standards
// see - http://csswizardry.com/2013/04/shame-css/

// edx.org marketing site - 7/2013 visual button revamp

// extends btn
%m-btn {
  @include box-sizing(border-box);
  @include transition(color $tmg-f2 ease-in-out, background $tmg-f2 ease-in-out, box-shadow $tmg-f2 ease-in-out);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;

  &:hover, &:active {

  }

  &.disabled, &[disabled] {
    cursor: default;
    pointer-events: none;
  }
}

%m-btn-pill {
  border-radius: ($baseline/5);
}

%m-btn-rounded {
  border-radius: ($baseline/2);
}

%m-btn-edged {
  border-radius: ($baseline/10);
}

// primary button
%m-btn-base {
  @extend %m-btn;
  @extend %m-btn-edged;
  border: none;
  padding:($baseline/2) ($baseline);
  text-align: center;
  text-shadow: none;
  font-weight: 500;
  letter-spacing: 0;

  &.disabled, &[disabled], &.is-disabled {
    background: $action-primary-disabled-bg;

    &:hover, &:focus {
      background: $action-primary-disabled-bg !important; // needed for IE currently
    }
  }
}

// primary button
%m-btn-primary {
  @extend %m-btn-base;
  box-shadow: 0 2px 1px 0 $action-primary-shadow;
  background: $action-primary-bg;
  color: $action-primary-fg;

  &:hover, &:active, &:focus {
    background: $action-primary-focused-bg;
  }
  &:focus {
    box-shadow: 0 0 6px 0 $action-primary-active-focused-shadow;
  }

  &.current, &.active {
    box-shadow: inset 0 2px 1px 1px $action-primary-active-shadow;
    background: $action-primary-active-bg;
    color: $action-primary-active-fg;

    &:hover, &:active, &:focus {
      box-shadow: inset 0 2px 1px 1px $action-primary-active-focused-shadow;
      color: $action-primary-active-focused-fg;
    }
  }

  &.disabled, &[disabled] {
    box-shadow: none;
    background: $action-primary-disabled-bg; // needed for IE currently
  }
}

// secondary button
%m-btn-secondary {
  @extend %m-btn-base;
  box-shadow: 0 2px 1px 0 $action-secondary-shadow;
  background: $action-secondary-bg;
  color: $action-secondary-fg;

  &:hover, &:active, &:focus {
    background: $action-secondary-focused-bg;
  }
  &:focus {
    box-shadow: 0 0 6px 0 $action-primary-active-focused-shadow;
  }

  &.current, &.active {
    box-shadow: inset 0 2px 1px 1px $action-secondary-active-shadow;
    background: $action-secondary-active-bg;
    color: $action-secondary-active-fg;

    &:hover, &:active, &:focus {
      box-shadow: inset 0 2px 1px 1px $action-secondary-active-focused-shadow;
      color: $action-secondary-active-focused-fg;
    }
  }

  &.disabled, &[disabled] {
    box-shadow: none;
    background: $action-secondary-disabled-bg; // needed for IE currently
  }
}


// ====================

// edx.org marketing site - needed, but bad overrides with importants
.view-register, .view-login, .view-passwordreset, .view-survey {

  .form-actions button[type="submit"] {
    text-transform: none;
    vertical-align: middle;
    font-weight: 600 !important;
    letter-spacing: 0 !important;
  }
}


// ====================


// Verification fixes
.verification-process {

  //overriding reset link style for nav/header
  .header-global {

    .logo a:hover, .logo:active, .logo a:focus {
      border: none;
      text-decoration: none;
      padding-bottom: 0;
    }

    .nav-global a:hover, .nav-global a:active, .nav-global a:focus {
      border: none;
    }
  }

  // overriding ridiculous hover on input type=button
  #content .action-primary:hover {
    background-image: none;
  }
}


// ====================


// The Following is to enable themes to display H1s on login and register pages
.view-login .introduction header h1,
.view-register .introduction header h1 {
  @include login_register_h1_style;
}

footer .references {
  @include footer_references_style;
}

// ====================

// modal semantic button resetting - overriding the poorly scoped button mixin styling
.close-modal, button.close-modal {
  @extend %ui-reset-button;

  &:focus {
    border: none !important;
  }
}

// ====================

// poor definition/scope on ul elements inside .vert-mod element in courseware - override needed for inline discussion editing
.course-content .discussion-post.edit-post-form .topic-menu {
  padding-left: 0;
  list-style: none;

  .topic-menu-item {
    margin-bottom: 0;
  }
}

.course-content .discussion-post.edit-post-form .topic-submenu {
  list-style: none;
}


// LMS system feedback button overrides
.is-in-course .wrapper-prompt .nav-actions {
  button {
    font-family: inherit;
  }

  .action-primary {
    @extend %t-action4;
  }

  .action-secondary {
    @extend %btn-no-style;
    @extend %t-strong;
    box-shadow: none;
    text-shadow: none;
  }
}
