<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
    <%static:require_module_async module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${data | n, dump_js_escaped_json};
        LogistrationFactory(options);
        if ('newrelic' in window) {
            newrelic.finished();
            // Because of a New Relic bug, the finished() event doesn't show up
            // in Insights, so we have to make a new PageAction that is basically
            // the same thing. We still want newrelic.finished() for session
            // traces though.
            newrelic.addPageAction('xfinished');
        }
    </%static:require_module_async>
</%block>

<%block name="header_extras">
<%text>
        <script type="text/template" id="login-tpl">
<div class="js-form-feedback" aria-live="assertive" tabindex="-1">
</div>

<form id="login" class="memocate-login-form" tabindex="-1" method="POST">

    <h2 class="memocate-login-header">
        <%- gettext("Login") %>
    </h2>
    <div class="toggle-form">
        <div class="section-title">
            <span class="text"><%- _.sprintf( gettext("New to %(platformName)s?"), context ) %></span>
            <a class="memocate-login-form-toggle form-toggle" data-type="register"><%- gettext("Register here") %></a>
        </div>
    </div>

    <div class="memocate-login-spacer">
      <div></div>
    </div>

    <p class="sr">
        <% if ( context.providers.length > 0 && !context.currentProvider || context.hasSecondaryProviders ) { %>
            <%- gettext("Sign in here using your email address and password, or use one of the providers listed below.") %>
        <% } else { %>
            <%- gettext("Sign in here using your email address and password.") %>
        <% } %>
        <%- gettext("If you do not yet have an account, use the button below to register.") %>
    </p>

    <%= context.fields %>

    <div class="memocate-login-action-buttons">
      <button type="submit" class="memocate-login-login-button action action-primary action-update js-login login-button"><%- gettext("Sign in") %></button>
      <button class="nav-btn memocate-login-cancel-button" onclick="document.location = '/'"><%- gettext("Cancel") %></button>
    </div>
    <button type="button" class="memocate-login-forgot-button forgot-password field-link"><%- gettext("Forgot password?") %></button>

    <% if ( context.providers.length > 0 && !context.currentProvider || context.hasSecondaryProviders ) { %>
    <div class="login-providers">
        <div class="section-title lines">
            <h2>
                <%- gettext("or sign in with") %>
            </h2>
        </div>

        <% _.each( context.providers, function( provider ) {
            if ( provider.loginUrl ) { %>
                <button type="button" class="button button-primary button-<%- provider.id %> login-provider login-<%- provider.id %>" data-provider-url="<%- provider.loginUrl %>">
                    <div class="icon <% if ( provider.iconClass ) { %>fa <%- provider.iconClass %><% } %>" aria-hidden="true">
                        <% if ( provider.iconImage ) { %>
                            <img class="icon-image" src="<%- provider.iconImage %>" alt="<%- provider.name %> icon" />
                        <% } %>
                    </div>
                    <span aria-hidden="true"><%- provider.name %></span>
                    <span class="sr"><%- _.sprintf( gettext("Sign in with %(providerName)s"), {providerName: provider.name} ) %></span>
                </button>
            <% }
        }); %>

        <% if ( context.hasSecondaryProviders ) { %>
            <button type="button" class="button-secondary-login form-toggle" data-type="institution_login">
                <%- gettext("Use my institution/campus credentials") %>
            </button>
        <% } %>
    </div>
    <% } %>
</form>

        </script>

        <script type="text/template" id="register-tpl">
 <div class="js-form-feedback" aria-live="assertive" tabindex="-1">
</div>

<form id="register" class="memocate-login-form register-form" autocomplete="off" tabindex="-1" method="POST">

    <h2 class="memocate-login-header">
        <%- gettext("Register") %>
    </h2>

    <div class="toggle-form">
        <div class="section-title">
            <span class="text"><%- _.sprintf( gettext("Already a member?"), context ) %></span>
            <a class="memocate-login-form-toggle form-toggle" data-type="login"><%- gettext("Login here") %></a>
        </div>
    </div>

    <div class="memocate-login-spacer">
      <div></div>
    </div>

    <% if (!context.currentProvider) { %>
        <% if (context.providers.length > 0 || context.hasSecondaryProviders) { %>
            <div class="login-providers">
                <div class="section-title lines">
                    <h2>
                        <span class="text"><%- gettext("Create an account using") %></span>
                    </h2>
                </div>
                <%
                _.each( context.providers, function( provider) {
                    if ( provider.registerUrl ) { %>
                        <button type="button" class="button button-primary button-<%- provider.id %> login-provider register-<%- provider.id %>" data-provider-url="<%- provider.registerUrl %>">
                            <div class="icon <% if ( provider.iconClass ) { %>fa <%- provider.iconClass %><% } %>" aria-hidden="true">
                                <% if ( provider.iconImage ) { %>
                                    <img class="icon-image" src="<%- provider.iconImage %>" alt="<%- provider.name %> icon" />
                                <% } %>
                            </div>
                            <span aria-hidden="true"><%- provider.name %></span>
                            <span class="sr"><%- _.sprintf( gettext("Create account using %(providerName)s."), {providerName: provider.name} ) %></span>
                        </button>
                <%  }
                }); %>

                <% if ( context.hasSecondaryProviders ) { %>
                    <button type="button" class="button-secondary-login form-toggle" data-type="institution_login">
                        <%- gettext("Use my institution/campus credentials") %>
                    </button>
                <% } %>
            </div>
            <div class="section-title lines">
                <h2>
                    <span class="text"><%- gettext("or create a new one here") %></span>
                </h2>
            </div>
        <% } else { %>
        <% } %>
    <% } %>

    <%= context.fields %>

    <div class="memocate-login-action-buttons">
    <button type="submit" class="memocate-login-login-button action action-primary action-update js-register register-button"><%- gettext("Register") %></button>
      <button class="nav-btn memocate-login-cancel-button" onclick="document.location = '/'"><%- gettext("Cancel") %></button>
    </div>

    <p class="memocate-login-honor-code"><%- gettext("By registering, you agree to the ")%><a href="/privacy"><%- gettext("Memocate Register Description") %></a></p>
    <input type="checkbox" style="display: none;" checked="checked" name="honor_code"></input>
</form>
        </script>
        <script type="text/template" id="password_reset-tpl">
         <div class="js-form-feedback" aria-live="assertive" tabindex="-1">
</div>

<form id="password-reset" class="memocate-login-form password-reset-form" tabindex="-1" method="POST">

    <h2 class="memocate-login-header">
        <%- gettext("Password assistance") %>
    </h2>

    <p class="action-label"><%- gettext("Please enter your email address below and we will send you instructions for setting a new password.") %></p>

    <%= fields %>

    <button type="submit" class="memocate-login-login-button action action-primary action-update js-reset"><%- gettext("Reset my password") %></button>
</form>
        </script>
        <script type="text/template" id="form_field-tpl">
  <% if (name !== 'remember' && name !== 'honor_code') { %>
         <div class="memocate-login-form-field form-field <%=type%>-<%= name %>">

    <% if ( type === 'select' ) { %>
        <select id="<%= form %>-<%= name %>"
            name="<%= name %>"
            class="input-inline"
            <% if ( instructions ) { %>
            aria-describedby="<%= form %>-<%= name %>-desc"
            <% } %>
            <% if ( typeof errorMessages !== 'undefined' ) {
                _.each(errorMessages, function( msg, type ) {%>
                    data-errormsg-<%= type %>="<%= msg %>"
            <%  });
            } %>
            <% if ( required ) { %> aria-required="true" required<% } %>>
        <% _.each(options, function(el) { %>
            <option value="<%= el.value%>"<% if ( el.default ) { %> data-isdefault="true"<% } %>><%= el.name %></option>
        <% }); %>
        </select>
        <% if ( instructions ) { %> <span class="tip tip-input" id="<%= form %>-<%= name %>-desc"><%= instructions %></span><% } %>
        <% if (supplementalLink && supplementalText) { %>
            <div class="supplemental-link">
                <a href="<%- supplementalLink %>"><%- supplementalText %></a>
            </div>
        <% } %>
    <% } else if ( type === 'textarea' ) { %>
        <textarea id="<%= form %>-<%= name %>"
            type="<%= type %>"
            name="<%= name %>"
            class="input-block"
            <% if ( instructions ) { %>
            aria-describedby="<%= form %>-<%= name %>-desc"
            <% } %>
            <% if ( restrictions.min_length ) { %> minlength="<%= restrictions.min_length %>"<% } %>
            <% if ( restrictions.max_length ) { %> maxlength="<%= restrictions.max_length %>"<% } %>
            <% if ( typeof errorMessages !== 'undefined' ) {
                _.each(errorMessages, function( msg, type ) {%>
                    data-errormsg-<%= type %>="<%= msg %>"
            <%  });
            } %>
            <% if ( required ) { %> aria-required="true" required<% } %> ></textarea>
            <% if ( instructions ) { %> <span class="tip tip-input" id="<%= form %>-<%= name %>-desc"><%= instructions %></span><% } %>
            <% if (supplementalLink && supplementalText) { %>
                <div class="supplemental-link">
                    <a href="<%- supplementalLink %>"><%- supplementalText %></a>
                </div>
            <% } %>
    <% } else { %>
         <% if (name === 'password') placeholder = gettext("Your password"); %>
         <% if (name === 'email') placeholder = gettext("Your email"); %>
         <% if (name === 'name') placeholder = gettext("Your full name"); %>
         <% if (name === 'username') placeholder = gettext("Your user name (only letters, numbers, underscores, dashes)"); %>
        <input id="<%= form %>-<%= name %>"
           type="<%= type %>"
           name="<%= name %>"
           class="memocate-login-input input-block <% if ( type === 'checkbox' ) { %>checkbox<% } %> <% if ( name === 'password' ) { %>memocate-login-input-last<% } %>"
            <% if ( instructions ) { %> aria-describedby="<%= form %>-<%= name %>-desc" <% } %>
            <% if ( restrictions.min_length ) { %> minlength="<%= restrictions.min_length %>"<% } %>
            <% if ( restrictions.max_length ) { %> maxlength="<%= restrictions.max_length %>"<% } %>
            <% if ( required ) { %> required<% } %>
            <% if ( typeof errorMessages !== 'undefined' ) {
                _.each(errorMessages, function( msg, type ) {%>
                    data-errormsg-<%= type %>="<%= msg %>"
            <%  });
            } %>
            <% if ( placeholder ) { %> placeholder="<%= placeholder %>"<% } %>
            value="<%- defaultValue %>"
        />
        <% if ( type === 'checkbox' ) { %>
            <label for="<%= form %>-<%= name %>">
                <%= label %>
                <% if ( required && requiredStr ) { %> <%= requiredStr %><% } %>
            </label>
        <% } %>
        <% if (supplementalLink && supplementalText) { %>
            <div class="supplemental-link">
                <a href="<%- supplementalLink %>"><%- supplementalText %></a>
            </div>
        <% } %>
    <% } %>

  <% } %>
</div>
        </script>
</%text>
    % for template_name in ["account", "access", "institution_login", "institution_register", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
% endfor
</%block>

<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="login-and-registration-container" class="login-register" />
    </main>
</div>
