<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Register Description")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
  <section class="container about">
    <h1>${_("Register Description")}</h1>
    <h3 dir="ltr" id="docs-internal-guid-94a45370-7fff-8cda-86cc-2bf727f72146">
      1. Rekisterinpitäjä
    </h3>
    <p dir="ltr">
      Nimi: Memocate Oy
      <br>
      Y-tunnus: 2832002-2
      <br>
      Postiosoite: Kuninkaankatu 19 a 18
    </p>
    <h3 dir="ltr">
      2. Rekisteriasioista vastaava henkilö
    </h3>
    <p dir="ltr">
      Nimi: Heikki Viitanen
      <br>
      Postiosoite: Alppikatu 2, 00530 Helsinki
      <br>
      Puhelin: 040 4893 848
      <br>
      Sähköposti: <a href="mailto:heikki@memocate.com">heikki@memocate.com</a>
    </p>
    <h3 dir="ltr">
      3. Rekisterin nimi
    </h3>
    <p dir="ltr">
      Memocate Oy:n käyttäjärekisteri
    </p>
    <h3 dir="ltr">
      4. Henkilötietojen käsittelyn tarkoitus
    </h3>
    <p dir="ltr">
      Asiakkaan henkilötietoja voidaan käsitellä seuraavia tarkoituksia varten:
    </p>
    <ul>
      <li dir="ltr">
        <p dir="ltr">
          käyttäjäsuhteen hoitaminen ja kehittäminen,
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          palvelun toteuttaminen,
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          asiakastapahtumien varmentaminen,
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          asiakaspalvelun ja liiketoiminnan kehittäminen,
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          markkinointi,
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          analysointi ja tilastointi,
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          muut vastaavat käyttötarkoitukset.
        </p>
      </li>
    </ul>
    <h3 dir="ltr">
      5. REKISTERIN TIETOSISÄLTÖ
    </h3>
    <p dir="ltr">
      Rekisteri voi sisältää seuraavia tietoja:
    </p>
    <ul>
      <li dir="ltr">
        <p dir="ltr">
          yhteystiedot, kuten nimi, osoite, puhelinnumerot,
          sähköposti-osoitteet,
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          rekisteröitymistiedot, kuten käyttäjätunnus, nimimerkki, salasana
          ja muu mahdollinen yksilöivä tunnus,
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          palveluiden käyttöä koskevat tiedot, kuten selailu- ja hakutiedot
          palvelun sisällä,
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          asiakkaan mahdollisesti antamat profilointi- ja kiinnostustiedot,
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          mahdolliset luvat ja suostumukset,
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          mahdolliset muut asiakkaan suostumuksella kerätyt tiedot.
        </p>
      </li>
    </ul>
    <h3 dir="ltr">
      6. SÄÄNNÖNMUKAISET TIETOLÄHTEET
    </h3>
    <p dir="ltr">
      Asiakasta koskevat tiedot saadaan säännönmukaisesti:
    </p>
    <ul>
      <li dir="ltr">
        <p dir="ltr">
          asiakkaalta itseltään internetin kautta (esim. palveluun
          rekisteröityessä tai sähköpostilla)
        </p>
      </li>
      <li dir="ltr">
        <p dir="ltr">
          evästeiden tai muiden vastaavien tekniikoiden avulla.
        </p>
      </li>
    </ul>
    <h3 dir="ltr">
      7. SÄÄNNÖNMUKAISET TIETOJEN LUOVUTUKSET JA TIETOJEN SIIRTO EU:N TAI
      EUROOPAN TALOUSALUEEN ULKOPUOLELLE
    </h3>
    <p dir="ltr">
      Tietoja ei säännönmukaisesti luovuteta kolmansille osapuolille tai siirretä
      tai luovuteta EU:n tai Euroopan talousalueen ulkopuolelle.
    </p>
    <h3 dir="ltr">
      8. REKISTERÖIDYN OIKEUDET
    </h3>
    <h4 dir="ltr">
      Tarkastus- ja oikaisuoikeus
    </h4>
    <p dir="ltr">
      Rekisteröidyllä on oikeus tarkistaa häntä koskevat rekisteriin tallennetut
      tiedot. Tarkastusoikeutta koskevat yhteydenotot tulee tehdä kirjallisina ja
      allekirjoitettuina kohdassa 1. mainittuun osoitteeseen.
    </p>
    <p dir="ltr">
      Jos rekisteröidyissä tiedoissa on virheitä, rekisteröity voi korjata tiedot
      itse verkkopalvelun kautta tai vaihtoehtoisesti esittää kohdassa 2.
      mainitulle rekisteriasioista vastaavalle henkilölle virheen korjaamista
      koskevan pyynnön.
    </p>
    <h4 dir="ltr">
      Tietojen poistaminen rekisteristä
    </h4>
    <p dir="ltr">
      Henkilö voi itse verkkopalvelun kautta päivittää antamiaan tietoja ja
      halutessaan poistua rekisteristä jättämällä poistoa koskevan pyynnön
      kohdassa 2. mainitulle rekisteriasioista vastaavalle henkilölle.
    </p>
    <p dir="ltr">
      Toimintoihin tarvitaan internet-selain ja -yhteys.
    </p>
    <h3 dir="ltr">
      9. REKISTERIN SUOJAUKSEN PERIAATTEET
    </h3>
    <h4 dir="ltr">
      Manuaalinen aineisto
    </h4>
    <p dir="ltr">
      Manuaalista aineistoa ei ole.
    </p>
    <h4 dir="ltr">
      Sähköisesti tallennetut tiedot
    </h4>
    <p dir="ltr">
      Asiakastietoja sisältävän järjestelmän käyttöön ovat oikeutettuja vain ne
      työntekijät, joilla työnsä puolesta on oikeus käsitellä asiakastietoja.
      Kullakin käyttäjällä on oma käyttäjätunnus ja salasana järjestelmään.
      Tiedot kerätään tietokantoihin, jotka ovat palomuurein, salasanoin ja
      muilla teknisillä keinoilla suojattuja. Säilytämme tietokannat ja niiden
      varmuuskopiot luotettavissa ja turvallisissa pilvipalveluissa. Tietoihin
      pääsevät käsiksi vain tietyt ennalta nimetyt henkilöt.
    </p>
    <h3 dir="ltr">
      10. EVÄSTEIDEN KÄYTTÖ
    </h3>
    <p dir="ltr">
      Evästeet ovat pieniä käyttäjän tietokoneen kovalevylle tallennettavia
      tiedostoja. Evästeet helpottavat navigointia internetsivuillamme ja
      lisäävät käyttäjäystävällisyyttä. Internet-sivumme käyttävät evästeitä
      valintojesi muistamiseksi.
    </p>
    <p dir="ltr">
      Evästeitä voidaan käyttää myös sen toteamiseen, onko tietokoneeltasi jo
      aiemmin ollut yhteys sivuillemme. Tällöin tunnistetaan vain tietokoneellasi
      oleva evästys. Evästeillä voidaan kerätä tietoja esimerkiksi siitä, miltä
      sivulta olet siirtynyt osoitteeseen, mitä www-sivujamme olet selannut ja
      milloin, mitä selainta käytät, mikä on näyttösi resoluutio ja
      käyttöjärjestelmä, sekä mikä on tietokoneesi IP-osoite eli mistä
      internetosoitteesta lähettämäsi tiedot tulevat ja minne ne vastaanotetaan.
      Tiedot eivät kerro käyttäjän nimeä tai muita henkilökohtaisia tietoja eikä
      käyttäjää ei voida tunnistaa pelkkien evästeiden avulla.
    </p>
    <p dir="ltr">
      Jos käytät internetsivujamme, hyväksyt evästeiden käytön ja tallentamisen
      tietokoneellesi. Useimmat selainohjelmat hyväksyvät evästeet
      automaattisesti. Kävijänä sinulla on mahdollisuus estää evästeiden käyttö
      muuttamalla selaimesi asetuksia siten, että selain ei salli evästeiden
      tallentamista. Siinä tapauksessa hyväksyt, että joidenkin palveluiden
      osalta evästeiden käytön estäminen saattaa kuitenkin vaikuttaa palvelun
      toiminnallisuuteen.
    </p>
  </section>
</main>
