<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
  <div class="home-page">
    <div class="home-page-half">
      <div class="home-page-blurb home-page-1">
        <div>
          <p>${_("Boost the interaction skill of a")}</p>
          <h3>${_("Professional Caregiver")}</h3>
        </div>
      </div>
      <p class="home-page-disclaimer">${_("At the moment we don't launch to individuals. Become a partner to get access for your caring organization.")}</p>
      <a href="/courses/course-v1:Memocate+memo_1+2017/info" class="home-page-action">${_("I'm a partner")}</a>
      <p><a class="home-page-get-in-touch" href="mailto:heikki@memocate.com">${_("Get in touch to became a partner")}</a></p>
    </div>
    <div class="home-page-half">
      <div class="home-page-blurb home-page-2">
        <div>
          <p>${_("Become a more confident")}</p>
          <h3>${_("Family Caregiver")}</h3>
        </div>
      </div>
      <p class="home-page-disclaimer">${_("This course is currently in development. Want to get early access or learn more?")}</p>
      <a class="home-page-action" href="mailto:heikki@memocate.com">${_("Contact us")}</a>
    </div>
  </div>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
