## mako
<%page expression_filter="h" args="online_help_token"/>
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from context_processors import doc_url
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
# app that handles site status messages
from status.status import get_site_status_msg
from util.enterprise_helpers import get_enterprise_customer_logo_url
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module_async module_name="js/header_factory" class_name="HeaderFactory">
    HeaderFactory();
    </%static:require_module_async>
    </%block>
% endif

<%block>
<%
try:
    course_id = course.id
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
</%block>
  <header id="global-navigation" class="header-global" >
    <nav class="wrapper-header" aria-label="${_('Global')}">
    <h1 class="logo">
      <a href="${marketing_link('ROOT')}">
        <%block name="navigation_logo">
        <%
        # logo_url = get_enterprise_customer_logo_url(request)
        logo_url = '/static/memocate/images/logo.svg'
        logo_size = 'ec-logo-size'
        if logo_url is None:
            logo_url = branding_api.get_logo_url(is_secure)
            logo_size = ''
        %>
            <img class="${logo_size}" src="${logo_url}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
        </%block>
      </a>
    </h1>

    % if course:
      <h2 class="course-header"><span class="provider">${course.display_org_with_default}:</span>
        <span class="course-number">${course.display_number_with_default}</span>
        <%
        display_name = course.display_name_with_default
        if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
          ccx = get_current_ccx(course.id)
          if ccx:
            display_name = ccx.display_name
        %>
        <span class="course-name">${display_name}</span></h2>
      % endif

      <div class="flex-spacer"></div>

    % if static.show_language_selector():
      <% languages = static.get_released_languages() %>
      % if len(languages) > 1:
      <ol class="user">
        <li class="primary">
          <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
            % if user.is_authenticated():
            <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
            % else:
            <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
            % endif
            <input type="hidden" id="settings-language-value" name="language">
            <script type="text/javascript">
            function submitLanguageSelection(lang, event) {
              var langInput = $('#settings-language-value')
              event.stopPropagation()
              event.preventDefault()
              langInput.val(lang)
              langInput.change()
              return false
            }
            </script>
            <%
              import re
              countrySignifier = re.compile(" (.*)$")
            %>
            % for language in languages:
              <% cleanedLang = countrySignifier.sub("", language[1]) %>
              % if language[0] == LANGUAGE_CODE:
                <button id="memocate-language-select-${language[0]}" class="memocate-language-select-button selected">${cleanedLang}</button>
              % else:
                <button id="memocate-language-select-${language[0]}" class="memocate-language-select-button">${cleanedLang}</button>
              % endif
                <script type="text/javascript">
                 var button = document.getElementById('memocate-language-select-${language[0]}')
                  button.onclick = submitLanguageSelection.bind(null, '${language[0]}')
                </script>
            % endfor
          </form>
        </li>
      </ol>
      % endif
    % endif

    % if user.is_authenticated():
      <%include file="user_dropdown.html"/>

    % else:
      <ol class="right nav-courseware list-inline">
        <li class="register-button item nav-global-04">
          <a class="btn-neutral" href="/register${login_query()}">${_("Register")}</a>
        </li>
        <%block name="navigation_sign_in">
          <li class="login-button item nav-courseware-01">
            % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
              % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
                <a class="btn btn-login" href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}">${_("Login")}</a>
              % else:
                <a class="btn btn-login" href="/login${login_query()}">Kirjaudu sisään</a>
              % endif
            % endif
          </li>
        </%block>
      </ol>
    % endif
    </nav>
</header>
% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
    end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
)}</div>
<![endif]-->
% endif

<%include file="help_modal.html"/>
